# hal_sensors_default.te

# cgroup tasks
allow hal_sensors_default cgroup:file getattr;

allow hal_sensors_default sensor_device:chr_file { open read write };
allow hal_sensors_default iio_device:chr_file { open read };
allow hal_sensors_default sysfs:dir { open read };
allow hal_sensors_default sysfs:file { getattr open read write };
allow hal_sensors_default sysfs_sensors:dir search;
allow hal_sensors_default sysfs_sensors:file { getattr open read };
allow hal_sensors_default sensor_device:chr_file ioctl;
allow hal_sensors_default sysfs_sensors:file write;


