allow hal_audio_default mediaserver_exec:file { getattr read };
allow hal_audio_default device:chr_file ioctl;
allow hal_audio_default efs_file:dir search;
allow hal_audio_default imei_efs_file:dir search;
allow hal_audio_default imei_efs_file:file { getattr open read };
allow hal_audio_default rild:unix_stream_socket connectto;
allow hal_audio_default amplifier_device:chr_file { open read write ioctl };

