allow vendor_init block_device:lnk_file setattr;
allow vendor_init proc_vm:file write;
allow vendor_init sysfs:lnk_file setattr;
allow vendor_init cache_backup_file:dir setattr;
allow vendor_init cache_private_backup_file:dir setattr;
allow vendor_init system_data_file:dir { add_name create setattr write };

